extends layout
block header
	h1 Planner

block content
	.container
		.center
			img.imgLogo(src='/images/logo.png')
		form(id='loginForm', method='post', action='/spp/login')
			input(type='text',name='name',id='name',value='',placeholder='Your Intranet ID')
			input(type='password',name='password',id='password',value='',placeholder='Your Password')
			a(href='javascript:submit("loginForm");',data-role='button',data-theme='a') Login
block footer
	h4 From &copy; SmileVirus Team